* {
	margin: 0px;
	padding: 0px;
	font-weight: normal;
	user-select: none;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
	background-color: rgb(189, 9, 9);
	font-size: 14px;
	color: #ffffff;
	-webkit-app-region: drag; /* xq no funciona arriba del todo */
}
button, input, a, label, ul, li, .nav, p, .autocomplete-items, .header {
	-webkit-app-region: no-drag;
}
.no-drag {
	-webkit-app-region: no-drag !important;	
}
body::-webkit-scrollbar {
    display: none;
}
.bold {
	font-weight: bold;
}
/* BARRA ICONOS */
.barra-iconos {
	margin: 15px;
	width: 25px;
	-webkit-app-region: no-drag;
}
.img-menu {
	width: 20px;
	height: auto;
	margin-top: 10px;
}
.icon-menu {
	border: none;
	background-color: rgb(189, 9, 9);
	width: 40px;
	height: 40px;
	top: 0px;
	position: absolute;
	left: 0%;
	margin-left: 5px;
	margin-bottom: 20px;
}
.cerrar, .minimize, .lanzapps, .info {
	background-color: rgb(189, 9, 9);
	width: 40px;
	height: 40px;
	top: 0px;
	position: absolute;
	border: none;
	color: #ffffff;
}
.info {
	left: 80%;
}
.lanzapps {
	left: 85%;
}
.lanzapps img, .info img {
	margin-top: 5px;
	width: 25px;
	height: auto;
}
.cerrar {
	left: 95%;
}
.cerrar p {
	font-size: 40px;
	margin-top: -10px;
}
.minimize {
	left: 90%;
}
.minimize p{
	font-size: 40px;
	font-weight: bold;
	margin-top: -40px;
}
.info:hover, .lanzapps:hover, .cerrar:hover, .minimize:hover, .icon-menu:hover {
	background-color:#d83838;
}
/* MENÚ DESPLEGABLE */
.menu { 
	display: inline;
}
#header {
	display: none;
	position: absolute;
	top: 5px;
	left: 47px;
	z-index: 1;
}
ul {
	list-style: none;
}
.nav > li {
	float: left;
}
.nav li a, .nav li p {
	background-color: rgb(189, 9, 9);
	color: #ffffff;
	text-decoration: none;
	padding: 9px 8px;
	display: block;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}	
.nav li a:hover, .nav li p:hover {
	background-color:#d83838;
}
.nav li ul {
	display: none;
	position: absolute;
	min-width: 140px;
}
.nav li:hover > ul {
	display: block;
	width: 140px;
}
.nav li ul li {
	position: relative;
}
.nav li ul li ul {
	left: 140px;
	top: 0px;
	z-index: 3;
}
.nav li ul li a {
	box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, 
				rgba(0, 0, 0, 0.07) 0px 2px 4px,
				rgba(0, 0, 0, 0.07) 0px 4px 8px,
				rgba(0, 0, 0, 0.07) 0px 8px 16px,
				rgba(0, 0, 0, 0.07) 0px 16px 32px,
				rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.nav li ul li ul li a {
	font-size: 13px;
	padding: 8px 4px;
	cursor: pointer;
	pointer-events: all;
}
.index {
	width: 60px;
}
.lastUl li a {
	width: 100px;
}
.lastIndex {
	position: relative;
	left: -32px;
	width: 50px !important;
	overflow: hidden;
}
.nombres-largos {
	width: 180px;
}

/* MENÚ LANZAPSS */
.menu-lanzapps ul {
	display: none;
	position: absolute;
}
.menu-lanzapps:hover ul {
	display: block;
	top: 40px;
	left: 650px;
	z-index: 1;
}
.menu-lanzapps li a {
	background-color: rgb(189, 9, 9);
	text-decoration: none;
	padding: 9px 8px;
	display: block;
	text-align: right;
	box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
	cursor: default;
}
.menu-lanzapps li a:hover {
	background-color:#d83838;
}
.noDisabled {
	color: #ffffff;
}
.disabledLanzapps {
	pointer-events: none;
	color: grey;
	cursor: default;
}
.sw {
	width: 16px;
	height: auto;
	position: relative;
	top: 4px;
	margin-right: 3px;
}
/* TITULO */
hr {
	width: 80%;
	margin: auto;
	background-color: #ffffff;
}
hr:first-of-type {
	margin-top: 60px;
}
h1 {
	text-align: center;
	font-size: 60px;
	margin-bottom: 5px;
	letter-spacing: 10px;
}
/* SEARCH */
.wrap {
	width: 75%;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.wrap h2 {
	text-align: center;
	margin-bottom: 10px;
	letter-spacing: 2px;
}
.search {
	width: 100%;
	position: relative;
	display: flex;
}
.search form {
	width: 100%;
	display: flex;
}
.autocomplete {
	position: relative;
	display: inline-block;
	width: 100%;
}
.autocomplete input {
	width: 95%;
	border: 3px solid white;
	background-color: rgb(189, 9, 9);
	font-size: 16px;
	padding: 5px;
	padding-left: 20px;
	height: 20px;
	border-radius: 20px 0 0 20px;
	border: 3px solid #ffffff;
	border-right:  4px solid #ffffff;
	outline: none;
	color: #ffffff;
}
.autocomplete input::placeholder {
	color: #ffffff;
}  
.autocomplete-items {
	position: absolute;
	top: 100%;
	left: 5%;
	right: 0;
	border: 1px solid rgb(189, 9, 9);
	border-bottom: none;
	border-top: none;
	z-index: 2;
	color: rgb(189, 9, 9);
	width: 550px;
	max-height: 197px;
	overflow-y: auto;
}  
*::-webkit-scrollbar {
    width: 14px;
}
*::-webkit-scrollbar-track {
	background: #ffffff;
}
*::-webkit-scrollbar-thumb {
    background-color: rgb(189, 9, 9);
    border-radius: 10px;
    border: 3px double #ffffff;
}
.autocomplete-items div {
	padding: 10px;
	cursor: pointer;
	background-color: #fff; 
	border-bottom: 1px solid rgb(189, 9, 9); 
  }
.autocomplete-items div:hover {
	background-color: #e9e9e9; 
}
.autocomplete-active {
	background-color: DodgerBlue !important; 
	color: #ffffff; 
}
.boton-busqueda {
	width: 40px;
	height: 36px;
	border: 1px solid #ffffff;
	background-color: #ffffff;
	text-align: center;
	color: #fff;
	border-radius: 0 20px 20px 0;
	cursor: pointer;
	font-size: 20px;
}
.search img {
	width: 17px;
	height: auto;
	margin-right: 5px;
	margin-top: 5px;
}
/* BOTONES SWITCH */
/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 45px;
	height: 25px;
	margin-left: 15px;
}
.switch:first-of-type {
	margin-top: 230px;
}
.switch p {
	position: relative;
	top: -15px;
	left: 50px;
}
/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}
/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}
.slider:before {
	position: absolute;
	content: "";
	height: 17px;
	width: 17px;
	left: 5px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}
input:checked + .slider {
	background-color: rgb(40, 223, 40);
  }
input:focus + .slider {
	box-shadow: 0 0 1px rgb(40, 223, 40);
}
input:checked + .slider:before {
	-webkit-transform: translateX(18px);
	-ms-transform: translateX(18px);
	transform: translateX(18px);
}
.slider.round {
	border-radius: 34px;
}
.slider.round:before {
	border-radius: 50%;
}
